<a href="https://colab.research.google.com/github/eldana10/CDAV-intro-to-Python/blob/main/Intro_july16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!!!")

Hello World!!!

In [ ]:
1+1

2

In [ ]:
4/2

2.0

In [ ]:
def addition():
  print(1+1)

we just created a function so no output

In [ ]:
addition()

2

so now we call our funtion and get output

In [ ]:
def addition_v1(num_1,num_2):
  print(num_1 + num_2)

created function and gave it argument 1 and argument 2

In [ ]:
addition_v1(30,40)

70

call our funtion

In [ ]:
def addition_v2(a,b):
  print((a+b)/100)

In [ ]:
addition_v2(60,40)

1.0

In [ ]:
a=10

In [ ]:
print(a)

10

In [ ]:
a+70

80

In [ ]:
def minus(a,b):
  print(a-b)

In [ ]:
minus(90,10)

80

In [ ]:
def minus(a,b):
  return a-b

In [ ]:
minus(90,10)+1

81

In [ ]:
temp_dif = minus(56,30)

In [ ]:
print(temp_dif)

26

In [ ]:
#create a funtion called grader. the funtion should take three arguments i.e cat_1, cat_2, & exam.
#the weight of cat_1 is 20%, cat_2 is 30%, the exam is 50%.
#the formula is (cat_1/100 * 20) + (cat_2/100 * 30) + (exam/100 * 50)

def grader(cat_1, cat_2, exam):
  return (cat_1/100 * 20) + (cat_2/100 * 30) + (exam/100 * 50)

In [ ]:
grader(50,60,70)

63.0

In [ ]:
total_grade = grader(90,70,20)

In [ ]:
print(total_grade)

49.0

In [ ]:
total_grade + 20

69.0

In [ ]:
type(total_grade)

float

In [ ]:
int(total_grade)

49

In [ ]:
str(total_grade)

'49.0'

In [ ]:
age = input("What is your age?")

What is your age?65

In [ ]:
print(age)

65

In [ ]:
type(age)

str

In [ ]:
float(age)

65.0

In [ ]:
age = float(age)

In [ ]:
type(age)

float

In [ ]:
name = input("What is your name?")

What is your name?John

In [ ]:
print(name)

John

In [ ]:
temp = input("What is the temperature outside?")

What is the temperature outside?32

In [ ]:
type(temp)

str

In [ ]:
temp = int(temp)

In [ ]:
type(temp)

int

In [ ]:
temp = int(input("What is the temp outside?"))  #starts with the inner most content

What is the temp outside?35

In [ ]:
type(temp)

int

In [ ]:
#modify your grader to prompt user for their marks instead of taking arguments

def grader_2():
  cat_1 = int(input("What is your cat_1 grade?"))
  cat_2 = int(input("What is your cat_2 grade?"))
  exam = int(input("What is your exam grade?"))
  return (cat_1/100 * 20) + (cat_2/100 * 30) + (exam/100 * 50)

In [ ]:
tot_grd = grader_2()

What is your cat_1 grade?40
What is your cat_2 grade?60
What is your exam grade?80

In [ ]:
type(grader_2())

What is your cat_1 grade?40
What is your cat_2 grade?60
What is your exam grade?80

float

In [ ]:
def addition_1(c,d):
  return c+d

def subtraction(c,d):
  return c-d

def multiplication(c,d):
  return c*d

def division(c,d):
  return c/d

In [ ]:
c = int(input("Enter the first number: "))
d = int(input("Enter the second number: "))
print("addition_ans:", c+d)
print("subtraction_ans:", c-d)
print("multiplictaion_ans:", c*d)
print("division_ans:", c/d)

Enter the first number: 7
Enter the second number: 9
addition_ans: 16
subtraction_ans: -2
multiplictaion_ans: 63
division_ans: 0.7777777777777778

Math Library

In [ ]:
import math

In [ ]:
math.sqrt(24)

4.898979485566356

In [ ]:
first_name = "Jane"
last_name = "Doe"
first_name +" "+last_name

'Jane Doe'

In [ ]:
first_name*3

'JaneJaneJane'

In [ ]:
#length of a given value
len(first_name)

4

In [ ]:
# method uses a dot . operator & upper capitilizes it
first_name.upper()

'JANE'

In [ ]:
f_n = first_name.lower()

In [ ]:
print(f_n)

jane

In [ ]:
national_id = "  3638 5023 "
national_id.strip()

'3638 5023'

In [ ]:
#the first argument is what you want to replace, the second argument is what you want to replace it with
national_id.replace(" ", "")

'36385023'

In [ ]:
national_id.replace("2", "7")

'  3638 5073 '

In [ ]:
#chaining methods
new_id = national_id.strip().replace(" ", "").replace("3", "4")

In [ ]:
print(new_id)

46485024

In [ ]:
#check if it is numeric
new_id.isnumeric()

True

In [ ]:
national_id.isnumeric()

False

In [ ]:
#split used when you have a string of words
cars = "toyota,benz,bmw"
cars.split(",")

['toyota', 'benz', 'bmw']

In [ ]:
is_cloudy = True

In [ ]:
type(is_cloudy)

bool

In [ ]:
#comparison operator
a=15
b=8
a == b

False

In [ ]:
c = a==b
print(c)

False

In [ ]:
#boolean comparison operators
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(not a==b)

True
False
True
False
True

In [ ]:
a = 3
b = 3
c = 4

a==b
b==c

False

In [ ]:
(a == b) and (b == c)

False

In [ ]:
(a == b) or (b == c)

True

In [ ]:
# if statement used in comparison of boolean
is_raining = True

if is_raining == True:
  print("Buy an umbrella")

Buy an umbrella

In [ ]:
limit_weight = 20
truck_weight = int(input("What is your truck weight? "))

if truck_weight > limit_weight:
  print("Pay the fine")
else:
  print("Don't pay the fine")

What is your truck weight? 18
Don't pay the fine

In [ ]:
# else statement (runs when if doesn't run)

In [ ]:
is_raining = False

if is_raining:
  print("Buy an umbrella")
else:
  print("Don't buy an umbrella")

Don't buy an umbrella

In [ ]:
# chaining if statements then use "elif statement"

num_of_pass = int(input("How many passengers? "))

if (num_of_pass == 1):
  print("Use boda")
elif (num_of_pass > 1 and num_of_pass <= 4):
  print("Use uberX")
elif (num_of_pass > 4 and num_of_pass < 7):
  print("Use uberXL")
elif (num_of_pass == 1) or (num_of_pass > 8):
  print("Use boda1")
else:
  print("No uber class available")

How many passengers? 6
Use uberXL

Create a scientific calculator.
The calculator should ask the user for the opertaion they want then prompt them for values(max of 2) and return the result.
 - 2 logarithmic operation
 - 3 trig operations
 - all 4 basic operations(+,-,/,*).
Example of the flow:
- What operation do you want to do? sin
- Provide your value in radians. 45
- 90

in this task you will use:
- functions
- math package
- if--elif--else
- isnumeric()

Your defined functions like add(), subtract(), etc., don't take arguments in the way you might expect (like add(e, f)) because they prompt the user for input inside the function definition.

In [ ]:
import math

#defined each math function which prompts user for values
def add():
  e = int(input("Enter the first number: "))
  f = int(input("Enter the second number: "))
  return e+f  #returns the sum of e and f

def subtract():
  e = int(input("Enter the first number: "))
  f = int(input("Enter the second number: "))
  return e-f

def multiply():
  e = int(input("Enter the first number: "))
  f = int(input("Enter the second number: "))
  return e*f

def divide():
  e = int(input("Enter the first number: "))
  f = int(input("Enter the second number: "))
  return e/f

def sqrt():
  e = int(input("Enter the number: "))
  return math.sqrt(e)

def log():
  e = int(input("Enter the number: "))
  return math.log(e)

def cos():
  e = int(input("Enter the value in degrees: "))
  return math.cos(math.radians(e))

def sin():
  e = int(input("Enter the value in degrees: "))
  return math.sin(math.radians(e))

def tan():
  e = int(input("Enter the value in degrees: "))
  return math.tan(math.radians(e))

#output
print("What operation did you want to do?")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")
print("5. Square root")
print("6. Logarithm")
print("7. Cosine")
print("8. Sine")
print("9. Tangent")

#prompt user for which operation they want to use
operation_input = input("Enter operation number? ")


if operation_input.isnumeric():     #checks if the string stored in operation_input contains only numeric values(0-9)
  operation = int(operation_input)  #will only execute is the isnumeric() is True

  if operation == 1:    #calling my function
    print(add())

  elif operation == 2:
    print(subtract())

  elif operation == 3:
    print(multiply())

  elif operation == 4:
    print(divide())

  elif operation == 5:
    print(sqrt())

  elif operation == 6:
    print(log())

  elif operation == 7:
    print(cos())

  elif operation == 8:
    print(sin())

  elif operation == 9:
    print(tan())

  else:
    print("No such operation in calculator")
else:
  print("Invalid input. Please enter a number.")  #if operation entered is not numeric(0-9), then its false

What operation did you want to do?
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Square root
6. Logarithm
7. Cosine
8. Sine
9. Tangent
Enter operation number? 6
Enter the number: 10
2.302585092994046

In [ ]:
def subtract_v(j,k):
  return j-k

In [ ]:
j = 65
k = 20
#subtract_v(j,k)
print("answer = ", subtract_v(j,k))

answer =  45

In [ ]:
cars = ["merc", "bmw", "toyota", "hyundai", "kia", "honda"]

In [ ]:
#convert from string to list
student_names = "John,Mary,Edward"
students = student_names.split(",")
print(students)

['John', 'Mary', 'Edward']

In [ ]:
len(cars)

6

In [ ]:
cars[0] #index

'merc'

In [ ]:
cars[3]

'hyundai'

In [ ]:
len(cars)-1

5

In [ ]:
cars[len(cars)-1]

'honda'

In [ ]:
cars[-1]

'honda'

In [ ]:
cars.index("bmw")

1

In [ ]:
#accessing a range of values (slicing)
#it omits the value

#cars = ["merc", "bmw", "toyota", "hyundai", "kia", "honda"]
cars[0:3]

['merc', 'bmw', 'toyota']

In [ ]:
cars[4:]    #obtains from index 4 until the end

['kia', 'honda']

In [ ]:
cars[:5]    #obtains from the first value until last value-1

['merc', 'bmw', 'toyota', 'hyundai', 'kia']

In [ ]:
cars[0::2]      #starts from index 0 then gets each second value, if it was 3 then gets each third value

['merc', 'toyota', 'kia']

In [ ]:
cars[::-1]    #reverses the list

['honda', 'kia', 'hyundai', 'toyota', 'bmw', 'merc']

In [ ]:
#adding items to a list
names=["Steve","Mark"]
names.append("Juliet")
print(names)

['Steve', 'Mark', 'Juliet']

In [ ]:
#replace with new value
names[0]="Matthew"
print(names)

['Matthew', 'Mark', 'Juliet']

In [ ]:
cars[0] = "Isuzu"   #replace with new value

In [ ]:
cars

['Isuzu', 'bmw', 'toyota', 'hyundai', 'kia', 'honda']

In [ ]:
cars.reverse()

In [ ]:
cars

['honda', 'kia', 'hyundai', 'toyota', 'bmw', 'Isuzu']

In [ ]:
cars+["byd","porsche"]

['honda', 'kia', 'hyundai', 'toyota', 'bmw', 'Isuzu', 'byd', 'porsche']

In [ ]:
#list operations
cars.sort()

In [ ]:
cars    #started with the capital letter

['Isuzu', 'bmw', 'honda', 'hyundai', 'kia', 'toyota']

In [ ]:
student_marks = [10,14,8,16,7,8,15,12,14]
sum(student_marks)

104

In [ ]:
max(student_marks)

16

In [ ]:
min(student_marks)

7

In [ ]:
average = sum(student_marks)/len(student_marks)
average

11.555555555555555

In [ ]:
set(student_marks)    #get a list with only unique values and sorts them even

{7, 8, 10, 12, 14, 15, 16}

In [ ]:
#loops in a list
for car in cars:      #variable name car can be anything like x
  print(car.lower())

isuzu
bmw
honda
hyundai
kia
toyota

In [ ]:
#loops in a list
for car in cars:      #variable name car can be anything like x
  print(car.upper())

ISUZU
BMW
HONDA
HYUNDAI
KIA
TOYOTA

In [ ]:
#Each order is represented as a list: [customer_name, item, quantity, price_per_item, delivery_status]
orders = [
    ["Alice", "Laptop", 1, 750, "delivered"],
    ["Bob", "Phone", 2, 400, "pending"],
    ["Charlie", "Headphones", 1, 150, "deli vered"],
    ["David", "Phone", "two", 400, "delivered"], # wrong quantity format
    ["Eve", "Monitor", 1, "two hundred", "delivered "], # price is a string
    ["Frank", "Keyboard", 1, 50, "p3nding"],
    ["Grace", "Mouse", 1, 30, "delivered"],
    ["Heidi", "Laptop", 2, 750, "cancelled"],
    ["Ivan", "Phone", 1, 400, "Delivered"], # case inconsistency
    ["Judy", "", 1, 150, "delivered"], # missing item infer by price of item ]
]
#cleaning data
#total amount spent
#avearge amount spent
#name of customer with highest amount spent
#lowest amount spent
#most sold item
#number of undelivered items

In [ ]:
#loop in list
for order in orders:

  #clean delivery_status in index 4
  if type(order[4]) == str:     #checks if index 4 is string
    order[4] = order[4].replace(" ", "").lower().replace("3", "e")

  #clean quantity in index 2
  if type(order[2]) == str:
    if order[2] == "two":     #checks if quantity "two" is true
      order[2] = 2            #if true replaces "two" w/ 2

  #clean price in index 3
  if type(order[3]) == str:
    if order[3] == "two hundred":
      order[3] = 200

  #clean item in index 1
  if type(order[1]) == str:
    if order[1] == "":
     order[1] = "Headphones"

  print(order)

['Alice', 'Laptop', 1, 750, 'delivered']
['Bob', 'Phone', 2, 400, 'pending']
['Charlie', 'Headphones', 1, 150, 'delivered']
['David', 'Phone', 2, 400, 'delivered']
['Eve', 'Monitor', 1, 200, 'delivered']
['Frank', 'Keyboard', 1, 50, 'pending']
['Grace', 'Mouse', 1, 30, 'delivered']
['Heidi', 'Laptop', 2, 750, 'cancelled']
['Ivan', 'Phone', 1, 400, 'delivered']
['Judy', 'Headphones', 1, 150, 'delivered']

In [ ]:
total_amounts_list = [] #Create an empty list to store total amounts

#loop in list to get total amount spent by each customer

for order in orders:
    quantity = order[2]
    price_per_item = order[3]
    total_amount = quantity * price_per_item
    total_amounts_list.append(total_amount) # Add the total amount for the current order to the list
    print("Customer:", order[0], "", "Total Amount:", total_amount)

Customer: Alice  Total Amount: 750
Customer: Bob  Total Amount: 800
Customer: Charlie  Total Amount: 150
Customer: David  Total Amount: 800
Customer: Eve  Total Amount: 200
Customer: Frank  Total Amount: 50
Customer: Grace  Total Amount: 30
Customer: Heidi  Total Amount: 1500
Customer: Ivan  Total Amount: 400
Customer: Judy  Total Amount: 150

In [ ]:
full_total_amount = sum(total_amounts_list)   #sum the list of total amounts
print("Full Total Amount:", full_total_amount)

Full Total Amount: 4830

In [ ]:
num_of_orders = len(orders)
print("Number of Orders:", num_of_orders)

Number of Orders: 10

In [ ]:
average_amount = sum(total_amounts_list)/len(orders)
print("Average amount spent:", average_amount)

Average amount spent: 483.0

In [ ]:
#gets highest total amount
max_amount = max(total_amounts_list)

#find index of the max value in the list
max_index = total_amounts_list.index(max_amount)

#gets order w/ max total amount & then gets customer name
customer_max_spent = orders[max_index][0]

#gets lowest total amount
min_amount = min(total_amounts_list)

#find index of the min value in the list
min_index = total_amounts_list.index(min_amount)

#gets order w/ min total amount & then gets customer name
customer_min_spent = orders[min_index][0]

print("Customer who spent the highest: ", customer_max_spent, " Amount: ", max_amount)
print("Customer who spent the lowest: ", customer_min_spent, " Amount: ", min_amount)

Customer who spent the highest:  Heidi  Amount:  1500
Customer who spent the lowest:  Grace  Amount:  30

In [ ]:
#creat empty dictionary to store item sales
item_sales = {}

#loop through orders
for order in orders:
  item = order[1]
  quantity = order[2]

#if item is in item sales then update count & quantity
  if item in item_sales:
    item_sales[item]['count'] += 1
    item_sales[item]['quantity'] += quantity
  else:
    item_sales[item] = {'count': 1, 'quantity': quantity}   #if item is not in item_sales, add it with initial count and quantity

most_sold_item = None
max_quantity = 0

#loop through the item_sales dictionary to find the item with the max quantity
for item, data in item_sales.items():
  if data['quantity'] > max_quantity:
    max_quantity = data['quantity']
    most_sold_item = item

print("The most sold item based on total quantity sold is:", most_sold_item)
print("The total quantity sold for", most_sold_item, "is:", max_quantity)

The most sold item based on total quantity sold is: Phone
The total quantity sold for Phone is: 5

In [ ]:
total_quantity = 0    #start counting from zero

for order in orders:        #loop in list
  delivery_status = order[4]    #assign to index 4
  quantity = order[2]           #assign to index 2
  if delivery_status != "delivered":
    total_quantity = total_quantity + quantity    #adds matched quantity to the total quantity

print("Number of undelivered items: ", total_quantity)

Number of undelivered items:  5

Tuple

In [ ]:
names = ('John', 'Mary', 'Peter')

In [ ]:
len(names)

3

In [ ]:
student_1, student_2, student_3 = names

In [ ]:
print(student_1)

John

In [ ]:
list_of_names = list(names)
print(list_of_names)

['John', 'Mary', 'Peter']

In [ ]:
tuple(list_of_names)

('John', 'Mary', 'Peter')

In [ ]:
names[0]

'John'

In [ ]:
names[2]

'Peter'

In [ ]:
def add_sub(a,b):
  sum = a+b
  diff = a-b
  return(sum,diff)

In [ ]:
add_sub(2,3)

(5, -1)

In [ ]:
addition_a, subtraction_a = add_sub(10,10)

In [ ]:
print(addition_a)
print(subtraction_a)

20
0

In [ ]:
student_ages=["John", 20, "Mary", 18]
students = []
ages = []
for item in student_ages:
  if type(item)==str:
    students.append(item)
  else:
    ages.append(item)
print(students)
print(ages)

['John', 'Mary']
[20, 18]

**DICTIONARIES**

In [ ]:
student_points = {"John": 30,
                  "Mary" :18,
                  "Peter" :40
                  }
print(student_points)

{'John': 30, 'Mary': 18, 'Peter': 40}

In [ ]:
student_points["John"]    #keys are used to access the value

30

In [ ]:
#to assign a new value to John
student_points["John"] = 50
student_points

{'John': 50, 'Mary': 18, 'Peter': 40}

In [ ]:
#append
student_points["Edwards"] = 45

In [ ]:
student_points

{'John': 50, 'Mary': 18, 'Peter': 40, 'Edwards': 45}

In [ ]:
student_points.pop("John")

50

In [ ]:
student_points

{'Mary': 18, 'Peter': 40, 'Edwards': 45}

In [ ]:
student_points.keys()

dict_keys(['Mary', 'Peter', 'Edwards'])

In [ ]:
student_points.values()

dict_values([18, 40, 45])

In [ ]:
max(student_points.values())

45

In [ ]:
student_points.items()      #tuple pairs of key & values

dict_items([('Mary', 18), ('Peter', 40), ('Edwards', 45)])

In [ ]:
for keys in student_points.keys():
  print(keys)

Mary
Peter
Edwards

In [ ]:
for points in student_points.values():
  print(points)

18
40
45

In [ ]:
# .items used to access the keys and values

for student, points in student_points.items():
  print(student, " scored ", points)

Mary  scored  18
Peter  scored  40
Edwards  scored  45

- print out the customer who spent the most
- e.g Peter bought a bulb for 50 KES on 21/02/2015

In [ ]:
customer_data = {
    "Jane":["Lamp",500,"20/02/2015"],
    "Peter":["Bulb",50,"21/02/2015"],
    "Alfred":["Socket",250,"20/02/2015"],
    "Eden":["Lamp",500,"22/02/2015"],
}
#print out the customer who spent the most
#e.g Peter bought a bulb for 50 KES on 21/02/2015

max_spent = 0

for value in customer_data.values():
  if value[1] > max_spent:
    max_spent = value[1]

for key, value in customer_data.items():
  if value[1] == max_spent:
    print(key,"bought a",value[0],"for",value[1],"KES on",value[2])

Jane bought a Lamp for 500 KES on 20/02/2015
Eden bought a Lamp for 500 KES on 22/02/2015

In [ ]:
#list comprehension

customer_data = {
    "Jane":["Lamp",500,"20/02/2015"],
    "Peter":["Bulb",50,"21/02/2015"],
    "Alfred":["Socket",250,"20/02/2015"],
    "Eden":["Lamp",500,"22/02/2015"],
}
#print out the customer who spent the most
#e.g Peter bought a bulb for 50 KES on 21/02/2015

price_list = [item[1] for item in customer_data.values()]
price_list

[500, 50, 250, 500]

**Task 3: test knowledge on dictionaries**
1. Add a new student with ID "S006" name "Frank", age 22, score 80, passed True
2. Create a list called "top_performers" that contains students who scored above 75.
3. Create a function that when given a student's name returns the data on the student, if the student is not present it should return "student not found"
4. Create a dictionary containing summary values based on the data above as follows:


> summary = {
    "total_students": ...,
    "students_passed": ...,
    "highest_score": ...,
    "lowest_score": ...
}

In [ ]:
students_data = {
    "S001": {"name": "Alice", "age": 20, "score": 88, "passed": True},
    "S002": {"name": "Bob", "age": 22, "score": 76, "passed": True},
    "S003": {"name": "Charlie", "age": 21, "score": 45, "passed": False},
    "S004": {"name": "David", "age": 23, "score": 92, "passed": True},
    "S005": {"name": "Eva", "age": 20, "score": 34, "passed": False}
}

# #append
# student_points["Edwards"] = 45

students_data["S006"] = {"name": "Frank", "age": 20, "score": 80, "passed": True}
students_data

{'S001': {'name': 'Alice', 'age': 20, 'score': 88, 'passed': True},
 'S002': {'name': 'Bob', 'age': 22, 'score': 76, 'passed': True},
 'S003': {'name': 'Charlie', 'age': 21, 'score': 45, 'passed': False},
 'S004': {'name': 'David', 'age': 23, 'score': 92, 'passed': True},
 'S005': {'name': 'Eva', 'age': 20, 'score': 34, 'passed': False},
 'S006': {'name': 'Frank', 'age': 20, 'score': 80, 'passed': True}}

In [ ]:
#create an empty list
top_performers = []

target_score = 75

#loop in dictionary
for key, values in students_data.items():
  score = values['score']       #access score and student names
  name = values['name']

  if score > target_score:
    top_performers.append(name)

print(top_performers)

['Alice', 'Bob', 'David', 'Frank']

In [ ]:
#create function
def student_info():
  student_name = input("Enter the student name: ")

  #loop through dictionary
  for values in students_data.values():
    if values['name'].lower() == student_name.lower():      #if name matches, return values
      return values

  return "Student not found"

#call function
info = student_info()
print(info)

Enter the student name: FRANK
{'name': 'Frank', 'age': 20, 'score': 80, 'passed': True}

In [ ]:
summary = {
    "total_students": len(students_data),
    "students_passed": len([student["score"] for student in students_data.values() if student["passed"]]),   #list comprehension
    "highest_score" : max(values["score"] for values in students_data.values()),
    "lowest_score" : min(values["score"] for values in students_data.values())
}

summary

{'total_students': 6,
 'students_passed': 4,
 'highest_score': 92,
 'lowest_score': 34}

**WHILE LOOP**

In [ ]:
counter = 5
while counter > 0:
  print("Hi"*counter)
  counter = counter - 1   #control statement

HiHiHiHiHi
HiHiHiHi
HiHiHi
HiHi
Hi

In [ ]:
valid = False
while not valid:
  num = input("Enter a value: ")
  if num.isnumeric():
    valid = True    #control statement

Enter a value: t
Enter a value: 6

In [ ]:
while True:
  num = input("Enter a value: ")
  if num.isnumeric():
    break     #exits your loop if match is found

Enter a value: t
Enter a value: z
Enter a value: 3

In [ ]:
ages = [18,20,32,40]
for age in ages:
  if age == 32:
    print("found")
    break       #exits loop early so you don't have to reach the end if you find what you're looking for
  else:
    print("not found")

not found
not found
found

In [ ]:
ages = [20,15,30,12,40,33]
for age in ages:
  if age < 21:
    continue    #skips execution and continues the loop
  print(age, "is a valid age")

30 is a valid age
40 is a valid age
33 is a valid age

In [ ]:
ages = [20,15,30,12,30,52,40,33]
for age in ages:
  if age < 21:
    continue    #anything after continue will not be executed
  elif age == 40:
    break
  print(age, "is a valid age")

30 is a valid age
30 is a valid age
52 is a valid age

**EXCEPTION** **HANDLING**

In [ ]:
try:
  a = int(input("Enter the first number: "))
  b = int(input("Enter the second number: "))
  result = a/b
  print("Result: ", result)
except:
  print("You cannot divide by zero")

Enter the first number: 40
Enter the second number: 0
You cannot divide by zero

In [ ]:
try:
  num_1 = int(input("Enter a number: "))
  num_2 = int(input("Enter another number: "))
  result = num_1/num_2
except ZeroDivisionError:
  print("You cannot divide by zero")
except ValueError:
  print("Invalid value. Numerical value needed")
except:
  print("Something went wrong")

Enter a number: h
Invalid value. Numerical value needed

In [ ]:
try:
  num = int(input("Enter a number: "))
  print("Square is ", num * num)
except:
  print("Not a number!")
else:
  print("Operation successful")
finally:
  print("Finished processing")

Enter a number: 4
Square is  16
Operation successful
Finished processing

In [ ]:
try:
  #code that might raise an exception #code that could cause an error
except ExceptionType:
  #code to run if exception/error occurs
else:
  #code to be run in case no error was encountered
finally:

In [ ]:
try:
  user_creds = {"John":"Passwr","Mercy":"Passw"}
  name = input("What is your name?")
  password = input("What is your password?")
  if user_creds[name] == password:
    print("Welcome",name)
  else:
    print("Invalid credentials")
except KeyError:
  print("The user doesn't exist")
else:
  age = input("What is your age?")
  print(name,"'s age is",age)

What is your name?john
What is your password?Passwr
The user doesn't exist

**Write a program:**
1. Asks the user for 2 numbers
2. Performs division
3. Handles ValueError and ZeroDivisionError
4. Keeps asking until correct input is given

In [ ]:
while True:
  try:
    num_a = int(input("Enter first number: "))
    num_b = int(input("Enter second number: "))
    result = num_a/num_b
    print("Result: ",result)
    break
  except ValueError:
    print("Invalid valid. Numerical value needed")
  except ZeroDivisionError:
    print("You cannot divide by zero")

Enter first number: 48
Enter second number:
Invalid valid. Numerical value needed
Enter first number: 0
Enter second number: t
Invalid valid. Numerical value needed
Enter first number: 55
Enter second number: 0
You cannot divide by zero
Enter first number: 72
Enter second number: 8
Result:  9.0

In [ ]:
print("\\")

\

In [ ]:
#syntax
file = open("filename", "mode")

In [1]:
# Read full content
file = open("example.txt", "r")
content = file.read()
print(content)
file.close()

Welcome to Python Programming!
This file contains multiple lines.
You can read this file line by line.
File handling is very useful.
Let's learn by doing.

In [2]:
# read a file
file = open("example.txt", "r")
line_1 = file.readline()      #reads one line
lines_all = file.readlines()  #returns a list of all lines
file.close()
print(line_1)
print(lines_all)

Welcome to Python Programming!

['This file contains multiple lines.\n', 'You can read this file line by line.\n', 'File handling is very useful.\n', "Let's learn by doing."]

In [3]:
# write in file
file = open("output.txt", "w")
file.write("This is a new file.\n")
file.write("Hello World!\n")
file.close()

In [4]:
# append to add line at the end
file = open("output.txt", "a")
file.write("Adding more content...\n")
file.close()

In [5]:
# this allows us to automatically close file
# keyword:with and variable_name:file

with open("example.txt", "r") as file:
  all_lines = file.readlines()
  print(all_lines)

['Welcome to Python Programming!\n', 'This file contains multiple lines.\n', 'You can read this file line by line.\n', 'File handling is very useful.\n', "Let's learn by doing."]

In [6]:
# example of copying a file since you need to open more than one file
# variable_names: source & dest

with open("source.txt", "r") as source, open("destination.txt","w") as dest:
  for line in source:
    dest.write(line)

In [7]:
try:
  with open("missing.txt", "r") as file:
    content = file.read()
except:
  print("The file was not found")

The file was not found

In [8]:
#csv library

import csv

contents = []
with open("data.csv", "r") as file:
  reader = csv.reader(file)     #to get content of csv
  contents = list(reader)       #allows me to access contents even after file is closed
  for row in reader:
    print(row)

print(contents)

[['Name', 'Age', 'Grade'], ['Alice', '14', 'A'], ['Bob', '15', 'B'], ['Charlie', '13', 'A'], ['David', '14', 'C'], ['Eve', '15', 'A']]

**Task: Contact book file**
- Build a small contact book using a file:

- Each contact: name, phone, email

- Save each contact in contacts.txt

- Menu: Add contact, View contacts, Search by name

In [59]:
#function to add contacts
def add_contact():
  name = input("Name: ")        #prompt user
  while True:                   #loops thru until condition met is true
    phone = input("Phone: ")
    if (len(phone) == 10 and phone.isdigit()):
      break
  while True:                   #loops thru until condition met is true
    email = input("Email: ")
    if "@" in email:
      break
  with open("contacts.txt", "a") as file:       #append to file
    file.write(name + " , " + phone + ", " + email + "\n")     #write to file
  print("New contact added.\n")

In [60]:
#function to view all contacts
def view_contacts():
  try:
    with open("contacts.txt", "r") as file:   #open file in read mode
      contact_lines = file.read()        #reads all lines in file
      print(contact_lines)
  except FileNotFoundError:                   #to handle if file doesn't exist
    print("File does not exist")

In [61]:
#function to search contact by name
def search_contact():
  name_search = input("Enter name to search: ")
  name_found = False    #assume name isn't there until we find it

  try:
    with open("contacts.txt", "r") as file:
      for line in file:           #loop through file
        if name_search in line:   #search for name
          print("Name found: ", line.lower())
          name_found = True
    if not name_found:
      print("Contact not found.\n")
  except FileNotFoundError:
    print("No contacts found.\n")

In [62]:
while True:
  #show options for user to select
  print("1. Add New Contact")
  print("2. View All Contacts")
  print("3. Search by Name")
  print("4. Exit")

  #ask user to pick an option 1-4
  option = input("Choose an option(1-4): ")

  #call function based on the user's option
  if option == "1":
    add_contact()
  elif option == "2":
    view_contacts()
  elif option == "3":
    search_contact()
  elif option == "4":
    print("Session completed")
    break
  else:
    ("Invalid option.\n")

1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): 1
Name: Rose
Phone: 0752003811
Email: rosegmail.com
Email: rose9gmail.com
Email: rose@gmail.com
New contact added.

1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): 2
John , 0781234567, john@gmail.com
Mercy , 0798765431, mercy@gmail.com
Mary , 0712345678, marykp@gmail.com
Steve , 0752073982, steve99@gmail.com
Peter , 0781125043, peterqr@gmail.com
Sally , 0788341093, sallyb@gmail.com
Rose , 0752003811, rose@gmail.com

1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): 4
Session completed

**OBJECT ORIENTED PROGRAMMING**

In [67]:
class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

#create 3 objects
s3 = Student("Charlie", 19, 72)
s1 = Student("Mary", 20, 30)
s2 = Student("Peter", 22, 25)

print(s3)
print(s3.name)

<__main__.Student object at 0x7e77b67400d0>
Charlie

In [70]:
class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

  def greet(self):
    print(f"Hello, my name is {self.name} and I am {self.age} years old.")

  def is_passed(self):
    return self.grade >= 50


#create 3 objects
s3 = Student("Charlie", 19, 72)
s1 = Student("Mary", 20, 30)
s2 = Student("Peter", 22, 25)

print(s3)
print(s3.name)
print(s3.greet())

<__main__.Student object at 0x7e77a6a0bb10>
Charlie
Hello, my name is Charlie and I am 19 years old.
None

In [ ]:

  def greet(self):
    print(f"Hello, my name is {self.name} and I am {self.age} years old.")

  def is_passed(self):
    return self.grade >= 50